footer {
    background: var(--black);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-top: 1em;
    width: 100%;

    height: fit-content;
}

.footer-child {
    margin-top: 2em;
    height: 10em;
}

.footer-content {
    margin: 0 auto;
    color: var(--white);
    font-family: var(--roboto-condensed);
    max-width: fit-content;
    text-align: left;
    height: 100%;
}


.footer-child-center {
    margin-top: 0em;
    justify-content: space-around;
}


.footer-content h2 {
    font-weight: bold;
    margin-bottom: 0.25em;
}


.footer-content a {
    display: block;
}

.hardcore {
    margin-bottom: 0;
}

.footer-logo-container {
    display: flex;
    justify-content: center;
    text-align: center;

}

.footer-logo-container img {
    width: auto;
    height: 6.5em;
    margin: 0 auto;
    padding: 0;

}
