header {
    background-image: url("../assets/header-photo.jpg");
    height: 550px;
    background-size: cover;
    background-position: center;
    margin-top: 80px;
}

.slogan-alignment {
    font-size: 80px !important;
    padding-top: 50px;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
}

/* after 2500 pixels */
@media (min-width: 2500px) {
    header {
        height: 1000px;
    }
    .slogan-alignment {
        font-size: 120px !important;
        padding-top: 100px;
    }
}
