.item-parent-container {
    grid-template-rows: 8fr 2fr;
    height: 100%;
}

.item-parent-container:hover {
    cursor: pointer;
}

.image-container {
    background-color: var(--white);
}

.image-container img {
    width: 100%;
    height: 100%;
}


.band-name-text {
    color: var(--white);
    font-weight: 500;
    font-size: 2em;
    margin: 0.25em auto;
    font-family: var(--roboto-condensed);
}

.desc-text {
    margin: 0.25em auto;
    color: var(--white);
    font-family: var(--roboto-condensed);
    font-size: 1.25em;

}
