.item-parent-container {
    grid-template-rows: 8fr 2fr;
    height: 100%;
    width: 300px;
    padding-bottom: 15px;
    transition: 300ms;
}

.no-decoration {
    text-decoration: none;
}


.item-parent-container:hover {
    cursor: pointer;
    box-shadow: 0px 0px 25px 3px rgba(0, 0, 0, 0.3);
}

.image-container {
    background-color: var(--white);
    margin-bottom: 10px;
}

.image-container img {
    height: 15em;
    width: auto;
    object-fit: cover;
}
