:root {
  /* Font weights and styles */
  --road-rage-regular: "Road Rage";
  --roboto-condensed: "Roboto Condensed", sans-serif;
  --white: rgba(255, 255, 255, 0.87);
  --grayish-black: #2A2A2A;
  --black: #000;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  background-color: #2A2A2A;
  width: 100vw;
}

/* Titles & Headings */
.main-title {
  font-family: var(--road-rage-regular);
  font-size: 60px;
  margin: 0;
  color: var(--white);
}

.artist-title {
  font-family: var(--roboto-condensed);
  font-size: 24px;
  margin: 0;
  color: var(--white);
  font-weight: bold;
}

.description {
  font-family: var(--roboto-condensed);
  font-size: 16px;
  margin: 0;
  color: var(--white);
  font-weight: normal;
}
